.jumbotron {
    background-color:#4527a0;
    color: white;
   
}

footer {
    padding: 20px 10px 0px 10px;
    background-color:#4527a0;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-hotel{
    flex: 1 200px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-reserva{
    width:100%;
    border-radius: 0px;
}

.rrss{
    padding: 0px 8px 0px 8px;
    color: #ffb300;
}
.titulors a{
    color: #ede7f6;
}

.secciones{
    display: flex; 
    flex-direction: flex-column; 
    
}
a {
    color:#ede7f6;
}
address{
    color: #ede7f6;
}

.info{
    color: #ede7f6;
    padding-bottom:25px;
}

.footer-address-icon{
    padding-right: 10px;
    color:#ffb300;
}

hr {
    background-color: #4527a0;
    height: 2px;
}